.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid #62a6fe;
  background-color: #f1f7ff;
  padding: 1rem;
  border-radius: 0.2rem;
  gap: 1rem;
  max-width: 90vw;
  box-sizing: border-box;
  position: relative;
}
form.wrapper {
  width: min(400px, 90vw);
}
.link {
  cursor: pointer;
  text-decoration: underline;
  color: #2282ff;
}
